@font-face {
    font-family: 'robotoregular';
    src: url('fonts/roboto-regular-webfont.eot');
    src: url('fonts/roboto-regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('fonts/roboto-regular-webfont.woff2') format('woff2'),
    url('fonts/roboto-regular-webfont.woff') format('woff'),
    url('fonts/roboto-regular-webfont.ttf') format('truetype'),
    url('fonts/roboto-regular-webfont.svg#robotoregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

* {
    outline: none !important;
}

html,
body {
    height: 100%;
    font-family: "robotoregular", Helvetica, Arial, sans-serif;
    background: #272727;
    font-size: 16px;
    color: #fff;
}

h1, .btn {
    font-family: "robotoregular", Helvetica, Arial, sans-serif;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -75px;
    padding: 0 0 60px;
}

.wrap > .body {
    padding: 20px 30px;
}

.clear {
    clear: both;
}

.footer {
    background: #232934;
    padding: 50px 0;
    font-size: 13px;
}

header {
    background: #232934 url(../img/Untitled-1.gif) 0 0 no-repeat;
    background-size: cover;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

.navbar-wrapper {
    padding: 15px 0 25px;
}

.navbar-gektor {
    background: none;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 15px;
    text-transform: uppercase;
}

.navbar-gektor .container {
    width: 100%;
}

.navbar-gektor .navbar-nav > li > a {
    color: #FDFBF4;
}

.navbar-gektor li.dropdown > a {
    line-height: 20px !important;
}

.navbar-gektor li.dropdown > ul {
    border-radius: 0;
    border: 0;
    background: rgba(37, 48, 59, 0.8);
}

.navbar-gektor .navbar-nav > li > a:hover, .navbar-gektor .navbar-nav > li > a:active {
    color: #4a77bb;
    font-weight: bold;
    background: none;
    text-decoration: underline;
}

.navbar-gektor li.active a {
    color: #4a77bb;
    font-weight: bold;
    background: none;
    text-decoration: underline;
}

.navbar-gektor .icon-bar, .navbar-gektor .navbar-toggle {
    border: 1px solid #ffffff;
}

.text-blue {
    color: #4a78bb;
}

.call {
    font-size: 18px;
    margin: 10px 20px 10px;
}

.logo {
    text-decoration: none !important;
    font-size: 40px;
    font-weight: bold;
    font-family: "postmodern_oneregular";
    color: #4a78bb !important;
    padding-right: 0;
}

.slogan p {
    text-align: center;
    text-transform: uppercase;
    color: #4a78bb;
    padding-top: 55px;
}

.headerdetails {
    padding: 35px 0 0px;
    background: none;
}

.headerdetails:after {
    clear: both;
}

.topsearch {
}

p.help-block.help-block-error {
    font-size: 13px;
}

.breadcrumb {
    background: none;
}

.btn, .form-control {
    border-radius: 0;
}

.btn-question {

}

.btn-blue {
    padding: 3px 5px;
    text-transform: uppercase;
    background-color: #4a77bb;
    color: #ffffff;
}

.btn-blue:hover {
    color: #ffffff;
    background-color: #3d639c;
}

.glyphicon {
    margin-right: 5px;
}

.modal-content {
    border-radius: 0;
    color: #000;
}

#searchButton {
    padding: 6px 10px;
}

.thumbnail {
    margin-bottom: 20px;
    padding: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}

.item.list-group-item {
    float: none;
    width: 100%;
    background-color: #fff;
    margin-bottom: 10px;
    padding: 0;
}
.item .lead {
    font-family: 'PT Sans', serif;
}
.item .price {
    font-size: 20px;
}
.item.list-group-item .list-group-image {
    margin-right: 10px;
}

.item.list-group-item .thumbnail {
    margin-bottom: 0px;
}

.item.list-group-item .caption {
    padding: 9px 9px 0px 9px;
}

.item.list-group-item:before, .item.list-group-item:after {
    display: table;
    content: " ";
}

.item.list-group-item img {
    float: left;
    margin-right: 15px;
}

.item.list-group-item.grid-group-item img {
    margin-right: 0;
}

.item.list-group-item:after {
    clear: both;
}

.list-group-item-text {
    margin: 0 0 11px;
}

.carousel-indicators .active {
    background-color: #025377;
}

.carousel-indicators {
    bottom: 0px;
}

.left-banners div {
    margin-bottom: 25px;
}

.logos {
    background: #ffffff;
    height: 72px;
}

.logos img {
    max-width: 170px;
    margin: 0 auto;
}

div.owl-item > div {
    display: table-cell;
    vertical-align: middle;
}

.logos-carousel {
    /*max-width: 1170px;*/
}

.item div.post-img-content {
    height: 220px;
    padding-top: 20px;
}

.category-index .item {
    margin-bottom: 15px;
}

.item.list-group-item div.post-img-content {
    height: 220px;
    padding-top: 20px;
}

.item .thumbnail {
    height: 434px;
    border: none;
    background: rgba(80, 110, 134, 0.3);
    /* border: 1px solid #eeeeee; */
    /* -webkit-box-shadow: 0 4px 1px rgba(0, 0, 0, 0.05); */
    /*-moz-box-shadow: 0 4px 1px rgba(0, 0, 0, 0.05);*/
    /* box-shadow: 0 4px 1px rgba(0, 0, 0, 0.05); */
}

.item.grid-group-item .thumbnail .caption {
    height: 210px;
}

.item.list-group-item .thumbnail {
    height: 200px;
}

.list-group-item-heading {
    height: 40px;
    line-height: 40px;
    overflow: hidden;
}

.list-group-item-text table {
}

.list-group-item-text {
    line-height: 1.1;
    height: 105px;
    overflow: hidden;
    font-size: 14px;
}

.thumbnail a > img {
    height: 100%;
}

.item-name {
    color: #fff;
    text-transform: uppercase;
}
.item-name:hover, .item-name:active, .item-name:visited {
    color: #fff;
    text-decoration: none;
}

.table-properties td, .table-properties th {
    padding: 4px !important;
    border: none !important;
    font-weight: normal;
}

span.designed {
    color: #bebebe;
    font-size: 14px;
}

div.children {
    margin-top: 25px;
    background: rgba(2, 83, 119, 0.5);
    padding: 10px 0;
}

.children a {
    color: #025377;
    border-left: 1px solid grey;
    padding: 0 10px;
}

.children a.first {
    border-left: none;
}

.category-index .item .inner {
    background: rgba(80, 110, 134, 0.3);
}

.category-index .item .description {
    text-align: center;
    font-size: 13px;
}

.category-index .item .title {
    text-align: center;
}

.category-index .item .title a {
    font-weight: bold;
    color: #025377;
    text-align: center;
}

.category-index .item hr {
    margin: 10px -30px;
}

.category-index .item .img {
    padding-top: 15px;
}

.category-index .item .content {
    padding: 15px 30px;
}

div.owl-item > div {
    height: 65px;
}

.tooltip {
    position: absolute;
    z-index: 1070;
    display: block;
    font-family: "robotoregular", Helvetica, Arial, sans-serif;
    font-size: 15px;
    font-weight: normal;
    line-height: 1.4;
    visibility: visible;
    filter: alpha(opacity=0);
    opacity: 0;
}

.tooltip.top .tooltip-arrow {
    border-top-color: #506E86;
}

.tooltip-inner {
    background-color: #506E86;
    border-radius: 0px;
}

div.details-description {
    margin-top: 15px;
}

div.details-description p {
    text-align: justify;
    text-indent: 20px;
}

.prices table tr th {
    background: rgba(80, 110, 134, 0.3);
}

.price-standard {
    font-size: 19px;
}

.btn-sample {
    color: #ffffff;
    background-color: #4a78bb;
    border-color: #4a78bb;
}

.btn-sample:hover,
.btn-sample:focus,
.btn-sample:active,
.btn-sample.active,
.open .dropdown-toggle.btn-sample {
    color: #ffffff;
    background-color: #4a78bb;
    border-color: #4a78bb;
}

.btn-sample:active,
.btn-sample.active,
.open .dropdown-toggle.btn-sample {
    background-image: none;
}

.btn-sample.disabled,
.btn-sample[disabled],
fieldset[disabled] .btn-sample,
.btn-sample.disabled:hover,
.btn-sample[disabled]:hover,
fieldset[disabled] .btn-sample:hover,
.btn-sample.disabled:focus,
.btn-sample[disabled]:focus,
fieldset[disabled] .btn-sample:focus,
.btn-sample.disabled:active,
.btn-sample[disabled]:active,
fieldset[disabled] .btn-sample:active,
.btn-sample.disabled.active,
.btn-sample[disabled].active,
fieldset[disabled] .btn-sample.active {
    background-color: #025377;
    border-color: #044f6e;
}

.btn-sample .badge {
    color: #025377;
    background-color: #ffffff;
}

.prices table td, .prices table th {
    border: 1px solid #939CC7 !important;
}
.no-padding {
    padding: 0 !important;
}
@media (max-width: 767px) {
    .slogan span {
        padding: 29px 0;
        display: block;
        position: relative;
        left: 0;
        top: 0;
    }
}