@font-face {
    font-family: 'helveticaneuecyrlight';
    src: url('fonts/helveticaneuecyr-light-webfont.eot');
    src: url('fonts/helveticaneuecyr-light-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/helveticaneuecyr-light-webfont.woff2') format('woff2'), url('fonts/helveticaneuecyr-light-webfont.woff') format('woff'), url('fonts/helveticaneuecyr-light-webfont.ttf') format('truetype'), url('fonts/helveticaneuecyr-light-webfont.svg#helveticaneuecyrmedium') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'helveticaneuecyrroman';
    src: url('fonts/helveticaneuecyr-roman-webfont.eot');
    src: url('fonts/helveticaneuecyr-roman-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/helveticaneuecyr-roman-webfont.woff2') format('woff2'), url('fonts/helveticaneuecyr-roman-webfont.woff') format('woff'), url('fonts/helveticaneuecyr-roman-webfont.ttf') format('truetype'), url('fonts/helveticaneuecyr-roman-webfont.svg#helveticaneuecyrroman') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'postmodern_oneregular';
    src: url('fonts/postmodern_one-webfont.eot');
    src: url('fonts/postmodern_one-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/postmodern_one-webfont.woff2') format('woff2'), url('fonts/postmodern_one-webfont.woff') format('woff'), url('fonts/postmodern_one-webfont.ttf') format('truetype'), url('fonts/postmodern_one-webfont.svg#postmodern_oneregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'scadaregular';
    src: url('fonts/scada-webfont.eot');
    src: url('fonts/scada-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/scada-webfont.woff2') format('woff2'), url('fonts/scada-webfont.woff') format('woff'), url('fonts/scada-webfont.ttf') format('truetype'), url('fonts/scada-webfont.svg#scadaregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

* {
    outline: none !important;
}

html,
body {
    height: 100%;
    font-family: "scadaregular", Helvetica, Arial, sans-serif;
    background: #FDFBF4 url(../img/bg-811.png);
    font-size: 16px;
}

h1, .btn {
    font-family: "scadaregular", Helvetica, Arial, sans-serif;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -75px;
    padding: 0 0 60px;
    background: rgba(250, 250, 250, 0.3);
}

.wrap > .container {
    padding: 20px 30px;
}

.footer {
    background-color: #ffffff;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

.navbar-wrapper {
    padding: 1px 0;
}

.navbar-gektor {
    background-color: #025377;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 16px;
    text-transform: uppercase;
}

.navbar-gektor a {
    color: #FDFBF4;
    height: 70px;
}

.navbar-gektor a:hover, .navbar-gektor a:active {
    color: #025377;
    font-weight: bold;
}

.navbar-gektor li.active a {
    color: #025377;
    font-weight: bold;
    background-color: #eee;
}
.navbar-gektor .icon-bar, .navbar-gektor .navbar-toggle {
    border: 1px solid #ffffff;
}

.text-blue {
    color: #025377;
}

.call {
    font-size: 19px;
    font-weight: bold;
    margin: 0px 10px 10px;
    color: #025377;
}

.logo {
    text-decoration: none !important;
    font-size: 36px;
    font-weight: bold;
    font-family: "postmodern_oneregular";
    color: #025377 !important;
    padding-right: 0;
}

.slogan span {
    left: 65px;
    top: 32px;
    font-size: 19px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    color: rgba(4, 49, 69, 0.71);
    position: absolute;
}

.logo img {
    width: 130px;
}

.headerdetails {
    padding: 20px 0;
    background: none;
}
.headerdetails .row > div.col-sm-12 {
    padding: 0;
}
.topsearch {
    margin: 18px 6px 0;
}

p.help-block.help-block-error {
    font-size: 13px;
}

.breadcrumb {
    background: none;
}

.btn, .form-control {
    border-radius: 0;
}

.btn-greyblue.active {
    color: rgba(255, 255, 255, 0.75);
}

.button-info {
    background: #08CAC7;
}

.btn-greyblue {
    color: #ffffff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    background-color: #89a3b8;
    background-image: -moz-linear-gradient(top, #96adc0, #7694ad);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#96adc0), to(#7694ad));
    background-image: -webkit-linear-gradient(top, #96adc0, #7694ad);
    background-image: -o-linear-gradient(top, #96adc0, #7694ad);
    background-image: linear-gradient(to bottom, #96adc0, #7694ad);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff96adc0', endColorstr='#ff7694ad', GradientType=0);
    border-color: #7694ad #7694ad #506e86;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    *background-color: #7694ad;
    /* Darken IE7 buttons by default so they stand out more given they won't have borders */

    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}

.btn-greyblue:hover,
.btn-greyblue:focus,
.btn-greyblue:active,
.btn-greyblue.active,
.btn-greyblue.disabled,
.btn-greyblue[disabled] {
    color: #ffffff;
    background-image: none;
    background-color: #7694ad;
    *background-color: #6688a3;
}

.btn-greyblue:active,
.btn-greyblue.active {
    background-color: #5a7b96;
}

.btn-light-yellow.active {
    color: rgba(255, 255, 255, 0.75);
}

.btn-light-yellow {
    color: #644336;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    background: rgba(252, 234, 187, 1);
    background: -moz-linear-gradient(top, rgba(252, 234, 187, 1) 0%, rgba(252, 205, 77, 1) 50%, rgba(248, 181, 0, 1) 51%, rgba(241, 187, 95, 1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(252, 234, 187, 1)), color-stop(50%, rgba(252, 205, 77, 1)), color-stop(51%, rgba(248, 181, 0, 1)), color-stop(100%, rgba(241, 187, 95, 1)));
    background: -webkit-linear-gradient(top, rgba(252, 234, 187, 1) 0%, rgba(252, 205, 77, 1) 50%, rgba(248, 181, 0, 1) 51%, rgba(241, 187, 95, 1) 100%);
    background: -o-linear-gradient(top, rgba(252, 234, 187, 1) 0%, rgba(252, 205, 77, 1) 50%, rgba(248, 181, 0, 1) 51%, rgba(241, 187, 95, 1) 100%);
    background: -ms-linear-gradient(top, rgba(252, 234, 187, 1) 0%, rgba(252, 205, 77, 1) 50%, rgba(248, 181, 0, 1) 51%, rgba(241, 187, 95, 1) 100%);
    background: linear-gradient(to bottom, rgba(252, 234, 187, 1) 0%, rgba(252, 205, 77, 1) 50%, rgba(248, 181, 0, 1) 51%, rgba(241, 187, 95, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fceabb', endColorstr='#f1bb5f', GradientType=0);
    border-color: #f1bb5f #f1bb5f #eb9d19;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    *background-color: #f1bb5f;
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}

.btn-light-yellow:hover,
.btn-light-yellow:focus,
.btn-light-yellow:active,
.btn-light-yellow.active,
.btn-light-yellow.disabled,
.btn-light-yellow[disabled] {
    color: #644336;
    background-image: none;
    background-color: #f1bb5f;
    *background-color: #efb148;
}

.btn-light-yellow:active,
.btn-light-yellow.active {
    background-color: #eda730;
}

.btn-question {
    padding: 10px 31px;
}

.glyphicon {
    margin-right: 5px;
}

.thumbnail {
    margin-bottom: 20px;
    padding: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}

.item.list-group-item {
    float: none;
    width: 100%;
    background-color: #fff;
    margin-bottom: 10px;
    padding: 0;
}

.item.list-group-item .list-group-image {
    margin-right: 10px;
}

.item.list-group-item .thumbnail {
    margin-bottom: 0px;
}

.item.list-group-item .caption {
    padding: 9px 9px 0px 9px;
}

.item.list-group-item:before, .item.list-group-item:after {
    display: table;
    content: " ";
}

.item.list-group-item img {
    float: left;
    margin-right: 15px;
}

.item.list-group-item.grid-group-item img {
    margin-right: 0;
}

.item.list-group-item:after {
    clear: both;
}

.list-group-item-text {
    margin: 0 0 11px;
}

.carousel-indicators .active {
    background-color: #025377;
}

.carousel-indicators {
    bottom: 0px;
}

.left-banners div {
    margin-bottom: 25px;
}

.logos {
    background: #ffffff;
    height: 72px;
}

.logos img {
    max-width: 170px;
    margin: 0 auto;
}

div.owl-item > div {
    display: table-cell;
    vertical-align: middle;
}

.logos-carousel {
    /*max-width: 1170px;*/
}

.item div.post-img-content {
    height: 190px;
}
.category-index .item {
    margin-bottom: 15px;
}
.item.list-group-item div.post-img-content {
    height: auto;
}

.item .thumbnail {
    height: 400px;
    background: #fff;
    border: 1px solid #eeeeee;
    -webkit-box-shadow: 0 4px 1px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: 0 4px 1px rgba(0, 0, 0, 0.05);
    box-shadow: 0 4px 1px rgba(0, 0, 0, 0.05);
}

.item.grid-group-item .thumbnail .caption {
    height: 210px;
}

.item.list-group-item .thumbnail {
    height: 200px;
}

.list-group-item-heading {
    height: 40px;
    line-height: 40px;
    overflow: hidden;
}

.list-group-item-text {
    line-height: 1.1;
    height: 100px;
    overflow: hidden;
}

.thumbnail a > img {
    height: 100%;
}

.table-properties td, .table-properties th {
    padding: 4px !important;
}

span.designed {
    color: #bebebe;
    font-size: 14px;
}

div.children {
    margin-top: 25px;
}

.children a {
    color: #025377;
    border-left: 1px solid grey;
    padding: 0 10px;
}

.children a.first {
    border-left: none;
}

.category-index .item .inner {
    background: #fff;
    border: 1px solid #eeeeee;
    -webkit-box-shadow: 0 4px 1px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: 0 4px 1px rgba(0, 0, 0, 0.05);
    box-shadow: 0 4px 1px rgba(0, 0, 0, 0.05);
}

.category-index .item .content {
    padding: 15px 30px;
}
div.owl-item > div {
    height: 65px;
}
@media (max-width: 767px) {
    .slogan span { padding: 29px 0;
        display: block;
         position: relative;left:0;top:0;
    }
}